
[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_open_brace = none

# ReSharper properties
resharper_align_multiline_extends_list = true
resharper_align_multiline_statement_conditions = false
resharper_csharp_align_multiline_parameter = true
resharper_csharp_wrap_lines = false
resharper_csharp_wrap_parameters_style = chop_if_long
